
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.container {
    margin-top: 50px;
}
.submit-btn {
    background-color: #00afaa;
    border-color: #00afaa;
    color: white;
    border-radius: 20px;
    width: 100%;
}
.submit-btn:hover {
    background-color: #008f8f;
    border-color: #008f8f;
}
.submit-btn:focus,
.submit-btn:active {
    background-color: #008f8f !important;
    border-color: #008f8f !important;
    box-shadow: none;
}
.header {
    background-color: #008f8f;
    color: white;
    padding: 8px;
    text-align: center;
    margin-bottom: 30px;
}
.table th {
    text-align: center;
    background-color: #00afaa;
    color: white;
}
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table tbody tr:hover {
    background-color: #d1e7dd;
}
.table td, .table th {
    vertical-align: middle;
    text-align: center;
}